/************************VARIABLE*****************************/
/************************DEFAULT*********************/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5rem; }

.container {
  max-width: 110rem;
  width: 100%;
  margin: auto; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

html {
  font-size: 62.5%; }

/************************ELEMENTS*********************/
h2 {
  margin: 0;
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
  color: #8b9dbb;
  text-shadow: 0.01rem 0.01rem 0.01rem #2c447c; }

h3 {
  margin-top: 0; }

table {
  margin: auto;
  text-align: center;
  box-shadow: 0rem 0rem 0.5rem 0.1rem #8b9dbb;
  background-color: #2c447c; }
  table td {
    border: 0.1rem solid #2c447c;
    padding: 0.5rem; }
  table thead {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    background-color: #f0f2f3;
    color: #2c447c; }
  table tbody tr:nth-child(even) {
    background-color: #8b9dbb;
    color: white; }
  table tbody tr:nth-child(odd) {
    background-color: white;
    color: #2c447c; }

ul {
  list-style: none; }

main {
  padding: 0rem 2rem; }

fieldset {
  margin: auto;
  padding: 2rem;
  border: 0.2rem solid #2c447c;
  box-shadow: 0rem 0rem 0.5rem 0.1rem #8b9dbb; }
  fieldset legend {
    padding: 1rem;
    font-size: 1.8rem;
    color: #2c447c;
    background-color: white; }
  fieldset .field {
    padding: 1rem; }
    fieldset .field label {
      color: #eaa21f;
      display: inline-block;
      width: 20%; }
    fieldset .field input {
      padding: 1rem;
      border-radius: 25rem;
      border: 0.1 solid black;
      box-shadow: 0rem 0rem 0.3rem 0.1rem #8b9dbb; }
    fieldset .field textarea {
      border-radius: 1rem;
      padding: 1rem;
      border: 0.1 solid black;
      box-shadow: 0rem 0rem 0.3rem 0.1rem #8b9dbb; }
    fieldset .field select {
      border-radius: 1rem;
      border: 0.1 solid black;
      box-shadow: 0rem 0rem 0.3rem 0.1rem #8b9dbb; }
  fieldset .div-button input,
  fieldset .div-button button {
    border-radius: 1rem;
    padding: 1rem;
    background-color: #f0f2f3;
    color: #2c447c;
    box-shadow: 0rem 0rem 0.3rem 0.1rem #8b9dbb; }

/************************CLASS*********************/
.nav-button ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem; }
  .nav-button ul a {
    border-radius: 4rem;
    padding: 1rem;
    background-color: #f0f2f3;
    color: #2c447c;
    box-shadow: 0.3rem 0.3rem 0.3rem 0 #8b9dbb; }

.block {
  border: 0.2rem solid #2c447c;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgba(139, 157, 187, 0.5);
  box-shadow: 0rem 0rem 0.5rem 0.1rem #8b9dbb; }

.fa-beer {
  color: #eaa21f;
  text-shadow: 0.1rem 0.1rem 0.1rem #2c447c; }

.area label {
  vertical-align: top; }

.input {
  padding: 0.5rem; }
  .input label {
    display: inline-block;
    width: 10%; }

.icone-logo {
  height: 2rem;
  vertical-align: middle; }

.background-yellow {
  background-color: #eaa21f; }

.font-bold {
  font-weight: bold; }

/************************HEADER*****************************/
header .header-top {
  display: grid;
  grid-template-rows: repeat(3, 3rem);
  grid-template-columns: 1fr 18rem 92rem 1fr; }
  header .header-top .h1 {
    grid-column: 3 /span 1;
    text-decoration: none; }
    header .header-top .h1 h1 {
      color: #eaa21f;
      text-shadow: 0.1rem 0.1rem 0.1rem #2c447c;
      font-size: 4rem; }
  header .header-top .top-header-logo {
    z-index: 1000;
    padding-top: 0.7rem;
    grid-row: 1 /span 1;
    grid-column: 2 /span 1; }
    header .header-top .top-header-logo img {
      height: 11rem; }
header .header-bottom {
  display: grid;
  grid-template-rows: repeat(5, 2rem);
  grid-template-columns: 1fr 5rem  8rem 92rem 5rem 1fr;
  z-index: 100; }
  header .header-bottom .background-nav {
    grid-row: 1 /span 5;
    grid-column: 1 /span 6;
    box-shadow: 0px 0px 8px 0px black;
    background-color: #2c447c; }
  header .header-bottom .menu-nav {
    grid-column: 3 / span 2;
    grid-row: 3/ span 1;
    align-self: center; }
    header .header-bottom .menu-nav ul {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0; }
      header .header-bottom .menu-nav ul .li-logo img {
        height: 4rem; }
      header .header-bottom .menu-nav ul li {
        align-self: center; }
        header .header-bottom .menu-nav ul li .hide {
          padding: 0.3rem;
          opacity: 0; }
        header .header-bottom .menu-nav ul li a {
          padding: 3rem 0.5rem;
          color: #f0f2f3;
          font-weight: bold;
          font-size: 1.6rem;
          text-decoration: none; }
      header .header-bottom .menu-nav ul li:hover .hide {
        opacity: 1; }
      header .header-bottom .menu-nav ul li:hover a {
        padding-bottom: 0.3rem;
        text-decoration: underline;
        text-decoration-color: #eaa21f; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.headerIsSticky + main {
  padding-top: 8rem; }

.top-line-shadow {
  height: 0.5rem;
  background-color: #2c447c;
  box-shadow: 0px -3px 5px 0px grey;
  grid-column: 1 / span 4;
  grid-row: 4/ span 3; }

.bottom-line-shadow {
  height: 0.5rem;
  background-color: #2c447c;
  box-shadow: 0px 5px 5px 0px grey;
  grid-column: 1 / span 4;
  grid-row: 7/ span 3; }

/*****************************FOOTER******************************/
footer {
  text-align: center; }
  footer .menu-footer ul {
    display: flex;
    justify-content: space-around; }

/*# sourceMappingURL=default.css.map */
